<<<<<<< HEAD
.page {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    text-rendering: optimizeLegibility;
=======
.page {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    text-rendering: optimizeLegibility;
>>>>>>> b46c5800122c61122ed33ac137eb60fb825c368f
}