.header__links {
    padding: 46px 48px 0 0;
}

@media (max-width : 768px) {
    .header__links {
        padding: 46px 24px 0 0;
    }
}

@media (max-width : 400px) {
    .header__links {
        padding: 30px 16px 0 0;
    }
}

@media (max-width : 320px) {
    .header__links {
        padding: 30px 16px 0 0;
    }
}