<<<<<<< HEAD
.place__paragraphs {
    align-self: start;
}

@media (max-width : 674px) {
    .place__paragraphs {
        order: 1;
    }
}

@media (max-width : 370px) {
    .place__paragraphs {
        padding: 0 16px 0;
    }
=======
.place__paragraphs {
    align-self: start;
}

@media (max-width : 674px) {
    .place__paragraphs {
        order: 1;
    }
}

@media (max-width : 370px) {
    .place__paragraphs {
        padding: 0 16px 0;
    }
>>>>>>> b46c5800122c61122ed33ac137eb60fb825c368f
}