.footer__link {
    text-decoration: none;
    color: white;
    padding-right: 18px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: 80%;
    transition: 1s;
}

@media (max-width: 490px) {
    .footer__link {
        padding-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__link:last-child {
        padding-bottom: 0px;
    }
}
