.footer__copyright {
    margin: 0;
    padding-right: 48px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width : 768px) {
    .footer__copyright {
        padding-right: 24px;
    }
}

@media (max-width : 490px) {
    .footer__copyright {
        padding-left: 16px;
    }
}

@media (max-width : 320px) {
    .footer__copyright {
        padding-left: 16px;
    }
}