.cover__overlay {
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    text-decoration: none;
    color: white;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width : 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media (max-width : 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media (max-width : 368px) {
    .cover__overlay {
        min-height: 300px;
    }
}

@media (max-width : 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}