<<<<<<< HEAD
.place__website {
    align-self: flex-end;
}

@media (max-width : 370px) {
    .place__website {
        padding: 0 16px 0;
    }
=======
.place__website {
    align-self: flex-end;
}

@media (max-width : 370px) {
    .place__website {
        padding: 0 16px 0;
    }
>>>>>>> b46c5800122c61122ed33ac137eb60fb825c368f
}